article {
    color: rgb(128, 128, 179);
    background-color: rgb(223, 233, 243);
}


article h1 {
    color: green;
}

article h2 {
    color: blue;
}


img {
    width: 200px;
}

#Intel
{
   width: 200px;
}